@{
    ViewData["Title"] = "About This Demo";
}
<h3>@ViewData["Title"]</h3>

<p>Overview of this Effort</p>

<p>
    To cut to the chase, click 
    <a asp-area="" asp-controller="Home" asp-action="Index">Pub/Sub - Async/Await Demo</a> in navigation header.<br />
    Of course return here for clarification.

</p>
<p>
    Azure has a relatively new publisher/subscriber service,  <a target="_blank" href="https://learn.microsoft.com/en-us/azure/azure-web-pubsub/overview">Azure Web PubSub PaaS Service</a>, which seems to me is a 2nd pass on <a target="_blank" href="https://learn.microsoft.com/en-us/azure/azure-signalr/signalr-overview">SignalR</a>.
</p>
<p>Marry this new PaaS service with .NET 6.0/7.0 Asyn/Await functionality and you have this demo.</p>
<p>
    <strong>Origin of this effort: </strong><br />
    -desiring to review latest current state of .NET Async/Await functionality.<br />
    -wanting to drill into <a target="_blank" href="https://learn.microsoft.com/en-us/azure/azure-web-pubsub/overview">Azure Web PubSub PaaS Service</a> as part of my exploring <a target="_blank" href="https://dapr.io/">"Dapr"</a> along with current state of Azure PaaS messaging services more generally.<br />
    -specifically, this work is an extension of the Microsoft Learn example on <a target="_blank" href="https://learn.microsoft.com/en-us/dotnet/csharp/asynchronous-programming/">Asynchronous Programming.</a>
</p>
<p>
    <strong>What the Demo Illustrates: </strong><br />
    1. Uses and extends the Microsoft Learn example of "Preparing Breakfast" (bacon, eggs, toast etc.) to demonstrate "Asynchronous Programming".<br />
    2. Moves console application code to .NET Core Web API and extends example to include a demo/implementation of <a target="_blank" href="https://learn.microsoft.com/en-us/azure/azure-web-pubsub/overview">Azure Web PubSub PaaS Service</a>.<br />
    3. Demonstrates a "publish" of "Breakfast Events" to Azure PubSub Service where the UI then "subscribes" to the service to "emit" the events via WebSocket to the UI.
</p>
