@{
    ViewData["Title"] = "About This Demo";
}
<h3>@ViewData["Title"]</h3>

<p>Overview of this Effort</p>

<p>
    To cut to the chase, click demo link and then come back here for clarification.<br />
    <a asp-area="" asp-controller="Home" asp-action="Index">Demo</a>

</p>
<p>
    <strong>Origin of this effort was: </strong><br />
    -desiring to review latest .NET 6.0/7.0 Async/Await functionality.<br />
    -and wanting to have a look at Azure PaaS Pub/Sub as part of my exploring Dapr.

</p>
